body {
    background: linear-gradient(to right, #0f1829, #2b4461);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background: #090b10;
}

.hero {
    padding: 80px 0;
}

.hero img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #ffc107;
}

.section-title {
    color: #ffc107;
    margin-bottom: 20px;
}

.project-card {
    background: #1c1f26;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(255, 193, 7, 0.3);
}

.experience-box {
    background: #1c1f26;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.contact-box {
    background: white;
    color: black;
    border-radius: 15px;
    padding: 30px;
}

footer {
    background: #0d1117;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

p, h1, h5 {
    color: white
}